/* Copyright (C) 2019-2023 Stephan Kreutzer
 *
 * This file is part of www-crawler-system.
 *
 * www-crawler-system is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3 or any later version,
 * as published by the Free Software Foundation.
 *
 * www-crawler-system is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License 3 for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 3
 * along with www-crawler-system. If not, see <http://www.gnu.org/licenses/>.
 */

body
{
    font-family: sans-serif;
}

#panel-top
{
    height: 19%;
}

#panel-left
{
    width: 49%;
    height: 79%;
    position: absolute;
    left: 0%;
    text-align: right;
    overflow: auto;
}

#panel-center
{
    text-align: center;
}

#panel-right
{
    width: 49%;
    height: 79%;
    position: absolute;
    left: 51%;
    text-align: left;
    overflow: auto;
}

#details
{
    width: 96%;
    height: 38%;
    position: absolute;
    left: 2%;
    top: 62%;
}

.link-internal
{
    color: blue;
}

.link-external
{
    color: orange;
}

.link-remove
{
    text-decoration: line-through;
}

