/* Copyright (C) 2013-2023 Stephan Kreutzer
 *
 * This file is part of www-crawler-system.
 *
 * www-crawler-system is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3 or any later version,
 * as published by the Free Software Foundation.
 *
 * www-crawler-system is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License 3 for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 3
 * along with www-crawler-system. If not, see <http://www.gnu.org/licenses/>.
 */
/**
 * @file $/web/mainstyle.css
 * @brief Global style settings.
 * @author Stephan Kreutzer
 * @since 2013-09-14
 */

body
{
    font-family: sans-serif;
    background-color: #CCCCFF;
    margin: 0px;
    padding: 0px;
}

.mainbox
{
    /* Centering. */
    margin-left: auto;
    margin-right: auto;
    /*width: 75%;*/

    border-style: solid;
    border-width: 0px;
    background-color: #FFFFFF;

    padding: 5px;
}

.mainbox_header
{
    background-color: #CCCCFF;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCFF;
}

.mainbox_header_h1
{
    color: #000000;
    text-align: center;
}

.mainbox_body
{
    background-color: #FFFFFF;
    text-align: justify;
}

.footerbox
{
    /* Centering. */
    margin-left: auto;
    margin-right: auto;
    /*width: 75%;*/

    padding: 5px;

    text-align: center;
    color: #FFFFFF;
}

.languageselector
{
    /* Centering. */
    width: 70%;
    margin:0 auto; 
}

.languageselector_text
{
    color: #000000;
}

fieldset
{
    border: 0px;
}

.success
{
    color: green;
}

.error
{
    color: red;
}
